
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');

*{
    font-family: 'Poppins', sans-serif;
    
}

body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}




.total-bl label{
    color: orangered;
    font-size: 26px ;
    font-weight: 600;
}
.total-bl.hidden{
    display: none;
}


/* first company */
.first-company-name, .second-company-name, .first-company-received, .Second-company-received{
    border: 3px solid #007ACC;
    border-radius: 5px;
    padding: 15px 10px;
    margin: 15px 0;
    font-weight: 600;
    font-size: 18px;
    box-shadow: 0 10px 10px rgba(0,0,0,0.3);
}
.second-company-name, .Second-company-received{
    border: 3px solid darkred;
}
.proceed-button button{
    width: 100%;
    outline: none;
    background: #007ACC;
    height: 50px;
    color: white;
    font-size: 22px;
    font-weight: 500;
    border-radius: 5px;
    margin: 30px 0;
    border: none;    
}

/*-------------------------------- Company details section  -------------------------*/
.company-details.hidden{
    display: none;
}
.first-company{
    color: orangered;
}
.second-company{
    color: blue;
}


/*-------------------------------- Company-received section  -------------------------*/
.company-received{
    display: none;
    margin-top: 100px;
}
.company-received.active{
    display: flex;
}


/*-------------------------------- Second section button -------------------------*/
.second-section-button{
    margin: 25px 0;   
    padding: 0; 
}
.second-section-button button{
    width: 100%;
    outline: none;
    background: #007ACC;
    height: 50px;
    color: white;
    font-size: 22px;
    font-weight: 500;
    border-radius: 5px;
    margin: 15px 0;
    border: none;
}
#back-button{
    background: darkred;
}


/*-------------------------------- Modal section  -------------------------*/
.modals{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,0.5);
}

.total-calculation{
    width: 70%;
    background: white;
    border-radius: 5px;
    padding: 20px 15px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.modals span{
    position: absolute;
    top: 10px;
    right: 15px;
    font-size: 30px;
    font-weight: 700;
    cursor: pointer;
}